<%- include("header") -%>

<div class="box" id="heading">
    <h1>This is about page</h1>
</div>
<p>Welcome to To-Do-List, the ultimate tool for organizing your tasks, managing projects, and boosting your productivity. Our platform is designed to simplify your life and empower you to accomplish your goals efficiently. In this section, you will learn more about our mission, values, and the team behind To-Do-List.</p>

<%- include("footer") -%>